a:link, a:hover, a:active, a:visited {
    text-decoration: inherit;
    font-weight: bold;
    color: inherit;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: colmun;
    flex-direction: column;
    
    font-family: Helvetica, Arial, sans-serif;
    background: black;
    color: gray;
}
header {
    text-align: center;
    padding: 0.4em;
}
header h1 {
    color: #e44;
    font-size: 44pt;
    margin: 0;
}
header h2 {
    font-size: large;
    font-weight: inherit;
    margin: 0;
}
main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    
    color: black;
    -webkit-justify-content: center;
    justify-content: center;
}
nav {
    font-size: large;
    background: #eda;
    min-width: 200px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    padding: 0;
}
nav li a {
    font-weight: normal !important;
    padding: 0.4em;
}
nav li a:hover,
nav li a:active {
    background: #e44;
}
nav li.active a {
    font-weight: bold !important;
}
nav li.active,
nav li.anchor {
    background: #fed;
}
nav li.anchor a {
    padding-left: 0.75em;
}
nav a {
    display: block;
}
article {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    
    background: #fed;
    padding: 0.5em;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}
article h1 {
    font-size: x-large;
}
article h2, article h3 {
    font-size: large;
}

article p, article dd, article li, footer p {
    line-height: 130%;
}
article p {
    max-width: 720px;
    text-align: justify;
}
article ul, article table {
    padding-left: 20px;
    max-width: 700px;
    text-align: justify;
}
article div.highlight {
    background: white;
    border: 1px solid black;
    margin: 0.25em;
    display: inline-block;
    vertical-align: top;
}
article div.highlight pre {
    margin: 1em;
}
article a:active,
article a:hover {
    text-decoration: underline;
}
code {
    background: white;
    border-radius: 4px;
    display: inline-block;
    padding: 0.1em;
}
dt {
    margin-bottom: 0.5em;
}
dd {
    margin-bottom: 1em;
    margin-left: 20px;
    max-width: 700px;
    text-align: justify;
}
figure {
    text-align: center;
    display: inline-block;
    clear: right;
    float: right;
}
figure pre {
    text-align: left;
}
div#main-example {
    white-space: nowrap;
}
footer {
    padding: 0.2em;
    text-align: center;
}
footer p {
    margin: 0;
}
